body {
  background-color: #000000;
	/* background-color: #0C0A33; */
	color: #B2FFF7;
	font-family: 'Handlee', cursive;
	display: inline-block;
}

#commandContainer {
	display: none;
}

#p5canvas {
	position: absolute;
	bottom: 10vh;
	left: 26vw;
	background-color: blue;
}

#p5canvas:hover {
	cursor: none;
}

h2 {
	line-height: 20px;
	text-align: center;
}

hr {
	border: 2px solid #596E80;
}

.container {
	background-color: #0C0A33;
	height: 82vh;
	width: 20vw;
	margin-top: 10vh;
	border: 3px solid #596E80;
	border-radius: 16px;
	padding: 0;
	/* overflow-y: scroll; */

	margin-left: 2vw;
}


.hudHalfSection {
	margin: 0;
	height: 46%;
}

.characterCard {
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
	text-align: center;
	padding: 0;
	margin: 0px 30px;
}

.characterCard li {
	float: left;
	list-style-type: none;
	padding: 0;
	font-size: 15px;
	width: 40%;
	margin: 5px 10px;
}

.characterCard img {
	text-decoration: none;
	display: block;
	border-radius: 5px;
	color: #00FFF2;
	background-color: rgba(0,0,0,0.7);
	width: 80%;
	height: 80%;
}

.characterCard .title {
	margin-top: 5px;
}

.characterCard li:hover{
	cursor: pointer;
}

#waveCounterButton {
	position: absolute;
	bottom: 10vh;
	left: 63vw;
	width: 10vw;
	height: 10vh;
	text-align: center;
	border-radius: 10px;
	border: 3px solid #596E80;
	background-color: #0C0A33;
	display: flex;
  justify-content: center;
  flex-direction: column;
	font-size: 18px;
}

#waveCounterButton:hover {
	cursor: pointer;
}

#hpCounter {
	position: absolute;
	top: 11vh;
	left: 26vw;
	width: 512px;
	height: 5vh;
	font-size: 24px;
}

#segCounter {
	position: absolute;
	top: 11vh;
	left: 50vw;
	width: 512px;
	height: 5vh;
	font-size: 24px;
}

